{% extends 'page/layout.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block page_contents %}
    <div class="col-10">
    <h2>Impressum</h2>
    <p>Auf den Seiten dieser findet ihr die Ergebnisse und Hintergründe zur fiktiven Stadtkrieg-Liga des PnP-Rollenspiels "Shadowrun". Dies ist ein reines, nicht-kommerzielles und nicht-kanonisches Fan-Projekt und dient lediglich der Unterhaltung. </p>

        <h3>Kontakt</h3>
           <p> E-Mail: webmasterDSKL@rath-ulrich.de</p>

    </div>
{% endblock %}