{% extends 'page/layout.html.twig' %}

{% block title %}Stadtkrieg-Liga{% endblock %}

{% block page_contents %}
    <div id="content" class="container">
        <h2><img alt="Es ist wieder Krieg" src="https://stadtkrieg.net/ststics/home.jpg" style="height:100%; width:100%"></h2>

        <h1>WILLKOMMEN AUF DER WEBSEITE DES DSKL-SIMULATIONSSPIELS</h1>

        <p>Auf den Seiten dieser findet ihr die Ergebnisse und Hintergründe zur fiktiven Stadtkrieg-Liga des Rollenspiels "Shadowrun". Dies ist ein reines, nicht-kommerzielles und nicht-kanonisches Fan-Projekt und dient lediglich der Unterhaltung.</p>

        <h2>&nbsp;</h2>

        <h2><strong>Was ist Shadowrun?</strong></h2>

        <p>Shadowrun ist ein 1989 von Bob Charette, Paul Hume und Tom Dowd erdachtes Pen&amp;Paper-Rollenspiel. Größtes Alleinstellungsmermal von Shadowrun ist die Vermischung von Cyberpunk- und Fantasy-Elementen. Shadowrun wird international von Catalyst Games Lab (<a href="http://www.shadowruntabletop.com" target="_blank">https://www.shadowruntabletop.com</a>) und im deutschsprachigen Raum von Pegasus Spiele (<a href="http://www.shadowrun6.de" target="_blank">https://www.shadowrun6.de</a>) vertrieben.</p>

        <hr>
        <h2><strong>Was ist Stadtkrieg?</strong></h2>

        <p>Innerhalb der Shadowrun-Welt wurde Stadtkrieg in den Sprawls Frankreich als „Jeu de Guerre de Ville“ von rivalisierenden Gangs erfunden. Diese trugen ihre Konflinkte um die Kontrolle von Gangterritorien in Form eines Ballspiels aus, in welchem auch Schusswaffengebrauch erlaubt war. Schnell erkannten Medienkonzerne weltweit die kommerzielle Nutzbarkeit dieser neuartigen, brutalen Sportart und so kommt es zur Gründung von Sportverbänden und Ligen. Während der neue Sport in Nordamerika „Urban Brawl“ genannt wird und in der „North American Urban Brawl Leauge“ (NAUBL) organisiert wird, entscheidet man sich in der Allianz Deutscher Länder für den Namen „Stadtkrieg“ und gründet die „Deutsche Stadtkrieg-Liga“ (DSKL). Näheres zu den Regeln des Spiels findet ihr unter: <a href="https://www.shadowiki.de/Stadtkrieg-Regeln" target="_blank">https://www.shadowiki.de/Stadtkrieg-Regeln</a></p>

        <hr>
        <h2><strong>Was ist dieses Simulationsspiel?</strong></h2>

        <p>Auf dieser Webseite werden die Spielergebnisse der DSKL seit der Saison 2080/81 nach einem eigens hierfür erdachten Regelsystem simuliert. Auch wenn wir natürlich versuchen, nicht in Widerspruch mit offiziellen Shadowrun-Veröffentlichungen zu stehen und diese Hintergrundinformationen aufzugreifen, sind diese Ergebnisse nicht offiziell und auch nicht kanonisch. Sie dürfen jedoch gerne als ergänzendes Informationsmaterial oder Inspirationsquelle für private Spielgruppen genutzt werden.</p>

        <ul class="list-group">


        </ul>

    </div>
{% endblock %}