{% extends 'page/layout.html.twig' %}

{% block title %}Stadtkrieg-Liga{% endblock %}

{% block page_contents %}
    <div class="col-12">
    <img src="/statics/home.jpg" width="100%" />
        <br/>
        <br/>
        <br/>
    <h2>WILLKOMMEN AUF DER WEBSEITE DES DSKL-SIMULATIONSSPIELS</h2>
    <p>Auf den Seiten dieser findet ihr die Ergebnisse und Hintergründe zur fiktiven Stadtkrieg-Liga des PnP-Rollenspiels "Shadowrun". Dies ist ein reines, nicht-kommerzielles und nicht-kanonisches Fan-Projekt und dient lediglich der Unterhaltung. </p>
    </div>
{% endblock %}