{% extends 'page/layout.html.twig' %}

{% block title %}Blog Index{% endblock %}

{% block page_contents %}
    <h2 class="text-center">Sesson Liste</h2>
    <div class="row justify-content-center">
        {% for liga in ligas %}

            <div class=" col-3 m-2 p-0 ">
                <div class="card p-2">
                    <a href="/liga/show/{{ liga.id }}" ><h5 class="card-title">{{ liga.seasonName }}</h5></a>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}