
{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DSKL | {% block title %}Deutsche Stadtkrieg-Liga{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <main>
        <div id="sidebar">
            {% block sidebar %}
                <div class="container-fluid mynav ">
                    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                            <span class="fs-4 text-color-with">Deutsche Stadtkrieg-Liga</span>
                        </a>
                        {{ knp_menu_render('main') }}
                    </header>
                </div>
            {% endblock %}
        </div>
        <div id="content" class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}
</body>
</html>